


.azeret-mono-exrtabold {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
  font-size: xx-large;
  text-align: center;
}


/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.btn{
    background-color: white;
    font-weight: bold;
    color: #0D1321;
    padding: 17px 24px;
    border-radius: 8px;
    font-size: larger;
    margin-bottom: 20px;
}

/* banner */

.btn-contact{
background-color: #0D1321;
width: 244px;
height: 65px;
padding: 24px 21px;
border-radius: 8px;
color: white;
font-size:large;
font-weight: bold;
margin-top: 10px;
margin-left: 800px;
}

.banner-description{
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    text-align: center;
    margin-left: 
}

.img{
    margin-left: 800px;
    margin-bottom: 20px;
}

.banner{
    background-image: url('../assets/Hero-bg.png');
    height: 652px;
    
}


/* why web  */
.secondary-bg{
    background-color: whitesmoke;
    border-radius: 8px;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 90px;
}

.why-web{
    padding-left: 97px;
    padding-top: 80px;
    text-align: center;
}

.code{
    margin-top: 100px;
    margin-left: 97px;
    display: flex;
    justify-content: space-between;
}

.will{
    font-family: "Azeret Mono", monospace;
    font-size: 24px;
font-weight: bold;
color: dimgray;
}

.can{
    font-size: 20px;
    font-weight: normal;
}

.layer{
    padding-right: 150px;
}

.youtube{
   border: 20px solid white;
   border-radius: 30px;  
   background-color: azure;
   margin-top: 40px;
}

/* skill section  */

.skill-container{
    margin-left: 300px;
    margin-top: 50px;
    margin-right: 500px;
    display: flex;
}

.html{
   background-color:rgba(255, 182, 193, 0.397);
   padding-top: 30px;
   padding-left: 30px;
   padding-right: 20px;
   padding-bottom: 30px;
   border-radius: 10px;
   font-size: larger;
   margin-right: 30px;
   h
}

.ancor{
    color: #0D1321;
    font-size: larger;
}

.js{
    background-color: rgba(255, 255, 0, 0.158);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    font-size: larger;
    margin-right: 30px; 
}

.css{
    background-color: rgba(176, 196, 222, 0.726);
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    font-size: larger;
    margin-right: 30px; 
}
.current-target{
    background-color: white;
    border-radius: 8px;
    max-width: 1140px;
    
    margin: 0 auto;
    margin-top: 90px;
}

.current{
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    text-align: center;
    margin-left: 100px;
}

.my{
    font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800px;
  font-style: normal;
  font-size: xx-large;
  text-align: center;
  margin-left: 80px;
}

.react{
    font-family: "Azeret Mono", monospace;
    font-size: 24px;
    font-weight: bold;
    color: #0D1321;
    margin-right: 650px;
}

.the{
    font-size: large;
    font-family: "Azeret Mono", monospace;
    margin-left: 20px;
}
.library{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 100px solid #FFFFFF;
    background-color:rgba(245, 245, 245, 0.445);
    border-radius: 100px;
    height: 250px;
    width: 900px;
    padding-left: 70px;
    padding-right: 50px;
    margin-left: 300px;
    margin-top: 5px;
}

.react-js{
    margin-top: 50px;
}

.more{
    color: #0D1321;
    font-size: larger;
    margin-right: 650px ;
}

.lib{
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 100px solid #FFFFFF;
    background-color:rgba(245, 245, 245, 0.445);
    border-radius: 100px;
    height: 250px;
    width: 900px;
    
    margin-top: 0px;}

.photo{
    width: 900px;
    height: 313px;
    /* margin-left: 300px; */
    ;
    /* background-color:white; */
    margin-left: 500px;
    padding-top: 30px;
    border-radius: 20px;
}

.feedback{
    width: 548px;
    height: 57px;
    background-color:white;
    border-radius: 8px;
    border-color: #FFFFFF;
}

.submit{
    width: 100px;
    height: 40px;
    background-color:white;
    border-radius: 8px;
    border-color: #FFFFFF;
    margin-left: 20px; 
}

.ph{

    background-image: url('../assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 40px;
    
}

.need{
    margin-left:300px;
    color: white;
    
}

.help{
    color: white;
    text-align: center;
    font-size: larger;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.footer{
    background-color: aliceblue;
    margin-top: 30px;
}

.blank{
    margin-right: 300px;
    margin-top: 40px;
}

.open{
    margin-left: 300px;
    font-size: xx-large;
    font-weight: 800;
}