/* nav styles */
.azeret-mono-extrabold{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-size: 28px;
  width: 128px;
  height: 33px;
  
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 150px;
  margin-right: 150px;
}

.btn{
  font-family: "Azeret Mono";
  font-weight: 600;
  font-size: 20px;
  padding-top: 17px;
  padding-bottom: 17px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 8px;
  opacity: 80%;
  background-color:white;
}

nav ul{
  margin-top: 38px;
  
}
nav h2{
  margin-top: 50px;
}
.banner-description{
  font-family: "Azeret Mono", monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.azeret{
  text-align: center;
  align-content: space-between;
  line-height: 38px;
  font-size: 48px;
  font-weight: 800;
}

.banner{
  justify-items: center;
  background-image:url('../assets/Hero-bg.png');  
  margin-top: 50px;
  
}

.btn-contact{
  background-color: #0D1321;
  color: #FFFFFF;
  font-family: "Azeret Mono", monospace;
  font-weight: 600;
  font-size: 20px;
  padding: 21px 24px;
  border-radius: 8px;
  margin-top: 31px;
  margin-bottom: 35px;
  margin-left: 230px;
}

.img{
  margin-top: 36px;
}

/* why web development */
.why-web-development{
  width: 1140px;
  height: 1300px;
  background-color: rgba(128, 128, 128, 0.055);
  margin-left: 380px;
  margin-top: 84px;
  
}
.why{
  text-align: center;
  align-content: space-between;
  line-height: 38px;
  font-size: 32px;
  font-weight: 800;
  padding-top: 80px ;
}

.web{
  font-family: "Azeret Mono", monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  padding-left: 144px;
  padding-right: 144px;
}

.do{
  font-family: "Azeret Mono", monospace;
  font-weight: bold;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 130px;
  color: #0d1321a1;
}

.and{
  font-family: "Azeret Mono", monospace;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  align-items: center;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 160px;
}

.learn{
  font-size: 20px;
  line-height: 1.5px;
  padding: 22px 30px;
  color: #0D1321;
  background-color: ;
  border: 1px solid #0D1321;
  display: inline-block;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  margin-left: 140px;
  margin-right: 130px;
  margin-top: 22px;
}

.layer-1{
  display: flex;
  margin-top: 80px;
}

.png{
  margin-right: 100px;
  
}

.pn{
  margin-left:140px}

  .is{
    font-family: "Azeret Mono", monospace;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin-left: 292px;
    margin-right: 296px;
    text-align: center;
  }

  .inspiration{
  
    text-align: center;
    margin-left: 380px;
    margin-right: 330px;
  }

  .inframe{
    margin-left: 380px;
    margin-right: 320px ;
    margin-top: 48px;  
    border: 1px solid rgba(13, 19, 33, 20%);
    padding: 32px;
    border-radius: 16px;
    display: block;
    unicode-bidi: isolate;
  }

  .youtube{
    border-radius: 16px;
  }

  .current-target{
    margin-top: 212px;
  }

  .my{
    text-align: center;
    align-content: space-between;
    line-height: 38px;
    font-size: 32px;
   
  }

  .to{
    font-family: "Azeret Mono", monospace;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
      
  }

.boxes{
  display: flex;
  gap: 24px;
  margin-left: 400px;
  margin-right: 360px;
  margin-top: 48px;
}

.html{
  padding: 40px;
  border-width: 364px;
  border-radius: 16px;
  background-color:  #ff4b1e13;
  
}

.Html{
  font-family: "Azeret Mono", monospace;
  font-weight: 800;  
  font-size: 24px;
}

.skills-description{
  font-family: "Azeret Mono", monospace;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #0D1321;
}

.css{
  padding: 40px;
  border-width: 364px;
  border-radius: 16px;
  background-color: #004de813;
}

.js{
  padding: 40px;
  border-width: 364px;
  border-radius: 16px;
  background-color: #ffdd0010;
}

.learn-more{
  font-family: "Azeret Mono", monospace;
  font-weight: 600;
  font-size: 16px;
  color: #0D1321;
}

.next{
  margin-top: 111px;
}

.botom{
  margin-bottom: 40px;
}

.Reactjs{
  display: flex;
  border: 1px solid whitesmoke;
  width: 1060px;
  height: 119px;
  margin-left: 400px;
  background-color: #ffffff65;
  border-radius: 16px;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 60px;
  padding-right: 40px;
  margin-bottom: 24px; 
  
}

.react{
  padding-right: 24px;
  padding-top: 40px;
}

.an{
  font-family: "Azeret Mono", monospace;
  font-weight: normal;
  font-size: 16px;
}

.I{
  font-family: "Azeret Mono", monospace;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
}

.input{
  width: 548px;
  height: 27px;
  border-radius: 8px;
  padding: 20px;
  
}

.submit{
  width: 130px;
  height: 70px;
  border-radius: 8px;
  margin-left: 16px;
  font-family: "Azeret Mono", monospace;
  font-weight: 500;
  font-size: 20px;
}

.last-section{
  width: 1020px;
  height: 222px;
  border-radius: 16px;
  margin-top: 49px;
  margin-left: 400px;
  padding: 64px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%),url('../assets/handshake.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position:center;
  
}



.where{
  font-family: "Azeret Mono", monospace;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
}

.feedback{
  padding-left: 228px;
  margin-top: 24px;
  color: #FFFFFF;
}

 .facebook{
  display: flex;
  margin-top: 80px;
  
  background-color: #0d132110;
  border-radius: 8px;
  align-items: center;
  justify-content: space-between;
  padding: 22px 360px;
 }

 .open{
  font-family: "Azeret Mono", monospace;
  font-weight: 500;
  font-size: 20px;
  
 }

 .github{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 24px;
 }
 